data/
data/**
.DS_Store
*/.DS_Store
*.DS_Store
*.ipynb_checkpoints

code/.ipynb_checkpoints/**
code/test_v1/.ipynb_checkpoints/**
code/test_v1/__pycache__/**
code/__pycache__/**
code/.ipynb_checkpoints/*


**/pt_files/
